/*
	Theme Name: Sense and Spirit
	Theme URI: http://ansleyfones.com
	Author: Ansley Fones
	Author URI: http://ansleyfones.com
	Description: A Custom WordPress theme by Ansley Fones
	Version: 1.2
	Text Domain: senseandspirit
*/

/* --- Fonts --- */
.lato {
	font-family: 'Lato', sans-serif;
}
.brandon {
	font-family: 'brandon-grotesque', Futura, 'Century Gothic', Lato, Helvetica, Arial, sans-serif;
	font-weight: 500;
}

/* --- Default Styles --- */
p, ol, ul {
	margin: 0;
	margin-bottom: 1.2em;
}

img.alignleft {
	float: left;
	display: block;
	margin-right: 15px;
	margin-bottom: 10px;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'brandon-grotesque', Futura, 'Century Gothic', Lato, Helvetica, Arial, sans-serif;
	font-weight: 500;
}

img.alignright {
	float: right;
	display: block;
	margin-left: 15px;
	margin-bottom: 10px;
}

img.aligncenter {
	float: none;
	display: block;
	margin: 0 auto;
	margin-bottom: 10px;
}

img.alignnone {
	float: none;
	display: inline-block;
	margin: 0 auto;
	margin-bottom: 10px;
}

/* --- Custom Theme Styles --- */
body {
	font-family: 'Lato', sans-serif;
	background: #FADCD5;
	background-image: url('images/background.png');
	background-repeat: no-repeat;
	background-position: center top;
}
em {
	color: #444444;
}
header > a {
	color: #c2c758;
	text-decoration: none;
}

a {
	color: #e4587f;
}
a.no-deco {
	text-decoration: none;
}
a:hover {
	color: #000;
	text-decoration: none;
}
a img:hover {
	opacity:.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	-webkit-transition:all .15s  linear;
	-moz-transition: all .15s linear;
	transition: all .15s linear;
	-webkit-backface-visibility: none;
}
header a {
	color: #ffffff;
}
.dark-pink {
	color: #a72247;
}
.uk-container {
	max-width: 1200px;
}
.uk-navbar {
	background-color: #72992F;
	box-shadow: 2px 3px 4px 0px rgba(2, 2, 2, 0.2);
	height: 36px;
}
.uk-navbar-center {
	text-transform: uppercase;
	font-size: 16px;
	font-weight: 700;
	color: #fff;
	padding-top: 7px;
}
.uk-navbar-nav li a {
	text-transform: uppercase;
	color: #ffffff;
	border: 0;
	text-shadow: none;
	padding: 0 22px;
	display: inline-block;
}
.uk-navbar-nav li:hover a {
	background-color: transparent;
	color: #000000;
	border: 0;
	text-shadow: none;
}
.uk-navbar-toggle {
	color: #fff;
	margin-top: -38px;
	font-size: 22px;
	text-shadow: none;
	z-index: 1111;
}
.uk-navbar-toggle:hover {
	color: #fff;
}

.uk-icon-button {
	background: transparent;
	color: #ffffff;
	text-shadow: none;
	width: 25px;
	height: 30px;
	line-height: 30px;
	font-size: 19px;
	padding-top: 1px;
	border: 0;
	margin: 0 5px;
	z-index: 1010;
}
.uk-icon-button:hover {
	background-color: transparent;
	color: #000000;
	border: 0;
}
.uk-subnav {
	margin-top: 30px;
}
.uk-subnav > li:nth-child(n+2) {
	margin-left: 35px;
}
.uk-subnav li a {
	text-transform: uppercase;
	color: #182e04;
	font-size: 18px;
	font-weight: 500;
	line-height: 1.4;
	font-family: 'brandon-grotesque', Futura, 'Century Gothic', Lato, Helvetica, Arial, sans-serif;
}
.uk-subnav li a:hover {
	color: #000;
	text-decoration: none;
}

.uk-subnav li ul {
	display: none;
	position: absolute;
	left: -40px;
	width: 180px;
	margin-top: -2px;
	z-index: 1000;
}

.uk-subnav li:hover > ul {
	display: block;
	text-align: left;
}

.uk-subnav li > ul li {
	display: block;
	background: #e4587f;
	color: #fff;
	margin-bottom: 3px;
}

.uk-subnav li > ul li:hover {
	background: #a72247;
}

.uk-subnav li > ul li a {
	display: block;
	color: #fff;
	padding: 4px 6px;
	font-size: 13px;
	line-height: 18px;
}

.uk-subnav li ul li a:hover {
	color: #fff;
}

.uk-offcanvas-bar {
	background-color: #182e04;
}
.uk-nav-offcanvas li a:hover {
	background-color: #719930;
}
.logo-box a img {
	float: left;
	margin-top: 5px;
	width: 40%;
	margin-bottom: -50px;
	z-index: 1010;
}
.fourohfour {
	font-size: 64px;
	line-height: 64px;
}
.sidebar-list div {
	margin: 15px 0;
}
.uk-article {
}
.uk-article a {
	color: #a72247;
}
.uk-article-title {
	text-transform: uppercase;
}
.uk-article-title a {
	color: #a72247;
}
.main .uk-article+.uk-article {
	padding-top: 25px;
	border-top: 1px #c2c758 solid;
}
.main .uk-article .uk-article-meta {
	color: #45494d;;
	font-size: 15px;
	font-style: italic;
}

/* --- Home Page Styles --- */
.bxslider {
	list-style: none;
	max-height: 400px;
	padding-left: 0px;
	z-index: 999;
}
.bx-wrapper .bx-viewport {
	-webkit-box-shadow: none;
	box-shadow: none;
	border: none;
	left: 0;
}
.bxslider img {
	display: block;
}
.bxslider .overlay {
	background-color: rgba(255, 255, 255, 0.8);
	text-align: left;
	color: #182e04;
	padding: 12px;
	position: absolute;
	display: block;
	bottom: 30px;
	left: 5%;
	font-size: 17px;
	text-transform: uppercase;
	font-family: 'brandon-grotesque', Futura, 'Century Gothic', Lato, Helvetica, Arial, sans-serif;
}

.bxslider .overlay a {
	color: #e4587f;
}

.bxslider .overlay h2 {
	color: #182e04;;
	font-size: 36px;
	line-height: 34px;
	text-transform: uppercase;
	font-weight: 500;
}
.bxslider .overlay a:hover {
	color: #333;
	text-decoration: none;
}
.bx-wrapper .bx-pager.bx-default-pager a {
	background-color: #e4587f;
}
.bx-wrapper .bx-pager.bx-default-pager a:hover, .bx-wrapper .bx-pager.bx-default-pager a.active {
	background-color: #a72247;
}

/* --- Article Posts --- */

.single .uk-article a,
.community .uk-article a {
	color: #a72247;
}
.single .uk-article a:hover,
.community .uk-article a:hover {
	color: #e4587f;
}

/* --- Sidebar Menu --- */
.menu-sidebar-menu-container ul {
	font-family: 'brandon-grotesque', Futura, 'Century Gothic', Lato, Helvetica, Arial, sans-serif;
	list-style: none;
	text-transform: uppercase;
	font-size: 16px;
	line-height: 1.5;
	font-weight: 700;
	padding-left: 0;
}
.menu-sidebar-menu-container ul a {
	color:  #182e04;
}


/* --- Searchform --- */
.searchform {
	width: 100%;
	margin: 15px auto;
	display: block;
}
.searchform input[name=s] {
	display: inline;
	width: 100%;
	height: 35px;
	border: 3px #182e04 solid;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
}
input[name=s]::-webkit-input-placeholder {
	color: #182e04;
	padding-left: 10px;
}
input[name=s]:-moz-placeholder {
	color: #182e04;
	padding-left: 10px;
}
input[name=s]::-moz-placeholder {
	color: #182e04;
	padding-left: 10px;
}
input[name=s]:-ms-input-placeholder {
	color: #182e04;
	padding-left: 10px;
}

/* --- Store --- */
h2.fav-products {
	text-transform: uppercase;
}
ul.product-list .uk-button-primary,
ul.fav-products .uk-button-primary {
	background-color: #e4587f;
}
ul.product-list .uk-button-primary:hover,
ul.fav-products .uk-button-primary:hover {
	background-color: #a72247;
}
#mp-anywhere-cart .mpawc-btn.mpawc-btn-link {
	color: #fff !important;
}
.cart {
	float: right;
	position: relative;
	top: -33px;
	right: 82px;
}
.cart .mp_store_link {
	color: #e4587f !important;
}
.product-page .uk-article-title {
	text-transform: uppercase;
	color: #182e04;
	font-size: 32px;
}
.product-page .uk-article-meta,
.product-page .uk-article-meta span a {
	text-transform: uppercase;
	color: #182e04;
	font-size: 16px;
}
.product-page .price {
	color: #e4587f;
	font-size: 26px;
	font-weight: 700;
}
.product-page .mp_quantity {
	text-transform: uppercase;
	display: block;
	width: 100%;
	color: #182e04;
	margin: 8.5px 0;
}
.product-page .mp_quantity_field {
	text-align: center;
	height: 40px;
	width: 60px;
}
.product-page .addtocart .mp_button_addcart {
	text-transform: uppercase;
	background-color: #a72247;
	color: #fff;
	font-size: 17px;
	padding: 15px;
	border: none;
}

.product-page .addtocart .mp_button_addcart:hover {
	background: #c12752;
}

.product-page form.mp_buy_form {
	float: none;
}
.product-page .content {
	color: #182e04;
}

.mp_cart_col_product_table a {
	color: #000;
}

.checkout input[type=submit] {
	background-color: #a72247;
	color: #fff;
	text-transform: uppercase;
	font-size: 14px;
	padding: 4px;
	border: none;
}
.checkout .mp_cart_contents {
	width: 100%;
}
.checkout .mp_cart_direct_checkout_link {
	float: left;
	text-transform: uppercase;
	background-color: #a72247;
	color: #fff;
	font-size: 20px;
	padding: 8px;
	margin-top: 10px;
	border: none;
}
.related-products {
	list-style: none;
	padding-left: 0;
}
.related-products h2 {
	text-transform: uppercase;
	color: #182e04;
}
.related-products li a {
	color: #182e04;
	font-family: 'brandon-grotesque', Futura, 'Century Gothic', Lato, Helvetica, Arial, sans-serif;
	list-style: none;
	text-transform: uppercase;
	font-size: 16px;
	line-height: 1.5;
	font-weight: 700;
}
.related-products li a {
	text-decoration: none;
}
.related-products li a span {
	color: #e4587f;
	font-size: 12px;
}

/* --- Product-loop_other --- */

.panel-product .product-teaser {
	width: 100%;
}
.panel-product .product-title {
	background-color: #e4587f;
	height: 45px;
	overflow: hidden;
}
.panel-product .product-price {
	background-color: #e4587f;
	color: #f9d3bc;
	text-align: center;
}
.panel-product .product-title h3 {
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	margin: 0;
}
.panel-product a .product-addtocart {
	background-color: #a72247;
	width: 96%;
	padding: 0 2%;
	text-align: right;
	color: #fff;
	text-transform: uppercase;
}

.panel-product a .product-addtocart:hover {
	background: #c12752;
	text-decoration: none;
}

.panel-product a:hover {
	text-decoration: none;
}

/* --- Pagination --- */
.uk-pagination li a {
	background-color: #e4587f;
	color: #fff;
	text-shadow: none;
}
.uk-pagination li a:hover {
	background-color: #a72247;
	color: #fff;
	text-shadow: none;
}

/* --- Footer --- */
footer {
	margin-top: 30px;
}
footer .sense {
	background-color: #fff;
}
footer .sense ul {
	padding: 20px 0;
	margin-bottom: 0;
}
footer .sense li {
	text-transform: uppercase;
	list-style: none;
	display: inline;
	padding-right: 25px;
	font-size: 12px;
}
footer .sense li a {
	color: #a72247;
}
footer .sense li a:hover {
	color: #e4587f;
	text-decoration: none;
}
footer .af {
	background-color: #72992F;
}
footer .af div,
footer .af a,
footer .af a:hover {
	padding: 10px 0;
	color: #fff;
}

/* --- Responsive --- */

@media only screen and (max-width: 1070px), only screen and (max-device-width: 1070px) { 

	.uk-subnav li a {
		font-size: 16px;
	}
}

@media only screen and (max-width: 959px), only screen and (max-device-width: 959px) { 

	.cart {
    		float: left;
    		left: 12px;
    		position: relative;
    		top: -33px;
	}
	
	.logo-box a img {
		margin-bottom: -30px;
	}
}

@media only screen and (max-width: 767px), only screen and (max-device-width: 767px) { 
	.bx-wrapper {
		display: none!important;
	}

}

/* Desktop and bigger */
@media (min-width: 960px) {
}
/* Only tablets portrait */
@media (min-width: 768px) and (max-width: 959px) {
}
/* Phone landscape and smaller */
@media (max-width: 767px) {
	.logo-box a img {
		float: none;
		width: 100%;
		margin-left: auto;
		margin-right: auto;
	}
	.uk-overlay-caption {
		padding: 8px;
	}
	.top-section .uk-overlay-caption a {
		font-size: 10px;
	}
	.bxslider,
	iframe {
		height: 200px;
	}
	.product-list .uk-width-medium-1-4,
	.fav-products .uk-width-medium-1-4 {
		width: 50%;
	}
	.uk-navbar {
		height: 32px;
	}
	.cart {
		float: left;
		position: relative;
		top: -6px;
		left: 0;
	}

	
}

